ACTION=="add", SUBSYSTEM=="input", ATTRS{name}=="{{.BtInputName}}", \
  RUN+="{{.ScriptsDir}}/soundbar-keepalive start"

ACTION=="remove", SUBSYSTEM=="input", ATTRS{name}=="{{.BtInputName}}", \
  RUN+="{{.ScriptsDir}}/soundbar-keepalive stop"
